ZP_DATA_DIR="./data"
ZP_LOGGING_LEVEL="INFO"
ZP_POLL_INTERVAL=3600

ZP_ZOTERO_LIBRARY_ID=
ZP_ZOTERO_API_KEY=
ZP_ZOTERO_LIBRARY_TYPE="user"
ZP_ZOTERO_WEBDAV_URL=
ZP_ZOTERO_WEBDAV_USERNAME=
ZP_ZOTERO_WEBDAV_PASSWORD=

ZP_GROBID_URL="http://localhost:8070"

ZP_WEBHOOK_URL=
ZP_WEBHOOK_SEND_TEI=false

ZP_DATABASE_URL="sqlite:///data/zotero.db"
